  <div class="centered">
    <img class="woofound-image" src="assets/assessment/{{ file }}" />
    <p class="woofound-image-title">{{ title }}</p>
    <div class="button-group">
      <label>
        <input type="radio" name="button-group-{{ id }}" value="me">
        <span class="button-group-item">Me</span>
      </label>
      <label>
        <input type="radio" name="button-group-{{ id }}" value="not-me">
        <span class="button-group-item">Not Me</span>
      </label>
    </div>
  </div>