<div class="career" index="{{ index }}" style="display:none;">
  <div class="button-wrapper career-nav center">
    <button class="basic-button" type="button" onclick="showCareerList()"><span>Return to list of careers</span></button>
    <button class="basic-button-outline {{#first}}invisible{{/first}}" type="button" onclick="showPrevCareer({{index}})"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
    <p>Result {{ index }} of {{ career_count }}</p>
    {{^last}}
    <button class="basic-button-outline" type="button" onclick="showNextCareer({{index}}, {{career_count}})"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
    {{/last}}
    <div class="clearfix"></div>
  </div>
  <h1 class="clearfix">{{ job_title }}</h1>

  <div class="career-image">
    <img src="assets/assessment/{{career_image}}" title="{{job_title}}" alt="{{alt_title}}">
  </div>

  <h2><span class="wage">Salary range: {{experienced_range}}</span></h2>
  <h2><span class="wage">Entry wage: </br>{{entry_wage}}</span></h2>
  <p>{{ job_description }}</p>

  <h3>General Duties</h3>
  <div class="general-duties">
    {{& general_duties }}
  </div>

  <h3>Training</h3>
  <div class="training">
    {{& training }}
  </div>

  <div class="save-results">
    <h2>Save this Career Path</h2>
    <p>Bring this career path to an Opportunity Center to get the most of your visit.</p>
    <p><a href="javascript:window.print()" data-event-category="Careers" data-event-action="Print"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Print or Save as PDF</a></p>
    <p><span class="link" onclick="showEmailForm('{{id}}')"><i class="fa fa-envelope" aria-hidden="true"></i> Email to yourself</span></p>
    <div id="email-success-message-{{id}}" class="email-success-message" style="display:none;">Email sent!</div>
    <div id="email-form-{{id}}" class="email-form" style="display:none;">
      <input type="text" name="email-address-{{id}}" placeholder="Email address" /><button onclick="emailAssessmentResults('{{id}}', [{{id}}])" data-event-category="Careers" data-event-action="Sent email for single career" data-event-label="Career sent: {{job_title}}">Send</button>
    </div>
  </div>

  <div class="get-started">
    <h2>Get Started Now</h2>
    <p><strong>An Opportunity Center can help you get started on one of these career paths.</strong></p>
    <p>Start by signing up for the Opportunity Center job system and receive a customized referral to a center.</p>
    <div class="button-wrapper">
      <a class="basic-button" href="/jobsystem" data-event-category="Careers" data-event-action="Start job system form">Sign up for the job system</a>
    </div>
  </div>
</div>
