html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.button-wrapper {
  padding: .5em 0 !important; }

.basic-button,
.basic-button-primary,
.basic-button:visited,
.basic-button-primary:visited,
button,
[type="button"],
[type="submit"],
[type="reset"],
[type="image"] {
  margin-top: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  -webkit-font-smoothing: antialiased;
  appearance: none;
  background-color: #477dca;
  border: 0;
  border-radius: 0.1875rem;
  color: #fff;
  cursor: pointer;
  display: block;
  font-weight: 700;
  line-height: 1;
  outline: none;
  padding: 1rem 2rem;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  width: auto;
  max-width: 180px; }
  .basic-button:hover, .basic-button.basic-button-hover,
  .basic-button-primary:hover,
  .basic-button-primary.basic-button-hover,
  .basic-button:visited:hover,
  .basic-button:visited.basic-button-hover,
  .basic-button-primary:visited:hover,
  .basic-button-primary:visited.basic-button-hover,
  button:hover,
  button.basic-button-hover,
  [type="button"]:hover,
  [type="button"].basic-button-hover,
  [type="submit"]:hover,
  [type="submit"].basic-button-hover,
  [type="reset"]:hover,
  [type="reset"].basic-button-hover,
  [type="image"]:hover,
  [type="image"].basic-button-hover {
    background-color: #205493;
    border-bottom: 0;
    text-decoration: none; }
  .basic-button:focus, .basic-button.basic-button-focus,
  .basic-button-primary:focus,
  .basic-button-primary.basic-button-focus,
  .basic-button:visited:focus,
  .basic-button:visited.basic-button-focus,
  .basic-button-primary:visited:focus,
  .basic-button-primary:visited.basic-button-focus,
  button:focus,
  button.basic-button-focus,
  [type="button"]:focus,
  [type="button"].basic-button-focus,
  [type="submit"]:focus,
  [type="submit"].basic-button-focus,
  [type="reset"]:focus,
  [type="reset"].basic-button-focus,
  [type="image"]:focus,
  [type="image"].basic-button-focus {
    box-shadow: 0 0 3px #3e94cf, 0 0 7px #3e94cf; }
  .basic-button:active, .basic-button.basic-button-active,
  .basic-button-primary:active,
  .basic-button-primary.basic-button-active,
  .basic-button:visited:active,
  .basic-button:visited.basic-button-active,
  .basic-button-primary:visited:active,
  .basic-button-primary:visited.basic-button-active,
  button:active,
  button.basic-button-active,
  [type="button"]:active,
  [type="button"].basic-button-active,
  [type="submit"]:active,
  [type="submit"].basic-button-active,
  [type="reset"]:active,
  [type="reset"].basic-button-active,
  [type="image"]:active,
  [type="image"].basic-button-active {
    background-color: #205493; }
  .basic-button.basic-button-outline,
  .basic-button-primary.basic-button-outline,
  .basic-button:visited.basic-button-outline,
  .basic-button-primary:visited.basic-button-outline,
  button.basic-button-outline,
  [type="button"].basic-button-outline,
  [type="submit"].basic-button-outline,
  [type="reset"].basic-button-outline,
  [type="image"].basic-button-outline {
    background-color: #fff;
    box-shadow: inset 0 0 0 2px #477dca;
    color: #477dca; }
    .basic-button.basic-button-outline:hover, .basic-button.basic-button-outline.basic-button-hover,
    .basic-button-primary.basic-button-outline:hover,
    .basic-button-primary.basic-button-outline.basic-button-hover,
    .basic-button:visited.basic-button-outline:hover,
    .basic-button:visited.basic-button-outline.basic-button-hover,
    .basic-button-primary:visited.basic-button-outline:hover,
    .basic-button-primary:visited.basic-button-outline.basic-button-hover,
    button.basic-button-outline:hover,
    button.basic-button-outline.basic-button-hover,
    [type="button"].basic-button-outline:hover,
    [type="button"].basic-button-outline.basic-button-hover,
    [type="submit"].basic-button-outline:hover,
    [type="submit"].basic-button-outline.basic-button-hover,
    [type="reset"].basic-button-outline:hover,
    [type="reset"].basic-button-outline.basic-button-hover,
    [type="image"].basic-button-outline:hover,
    [type="image"].basic-button-outline.basic-button-hover {
      box-shadow: inset 0 0 0 2px #205493;
      color: #205493; }
    .basic-button.basic-button-outline:active, .basic-button.basic-button-outline.basic-button-active,
    .basic-button-primary.basic-button-outline:active,
    .basic-button-primary.basic-button-outline.basic-button-active,
    .basic-button:visited.basic-button-outline:active,
    .basic-button:visited.basic-button-outline.basic-button-active,
    .basic-button-primary:visited.basic-button-outline:active,
    .basic-button-primary:visited.basic-button-outline.basic-button-active,
    button.basic-button-outline:active,
    button.basic-button-outline.basic-button-active,
    [type="button"].basic-button-outline:active,
    [type="button"].basic-button-outline.basic-button-active,
    [type="submit"].basic-button-outline:active,
    [type="submit"].basic-button-outline.basic-button-active,
    [type="reset"].basic-button-outline:active,
    [type="reset"].basic-button-outline.basic-button-active,
    [type="image"].basic-button-outline:active,
    [type="image"].basic-button-outline.basic-button-active {
      box-shadow: inset 0 0 0 2px #112e51;
      color: #112e51; }
    .basic-button.basic-button-outline:focus, .basic-button.basic-button-outline.basic-button-focus,
    .basic-button-primary.basic-button-outline:focus,
    .basic-button-primary.basic-button-outline.basic-button-focus,
    .basic-button:visited.basic-button-outline:focus,
    .basic-button:visited.basic-button-outline.basic-button-focus,
    .basic-button-primary:visited.basic-button-outline:focus,
    .basic-button-primary:visited.basic-button-outline.basic-button-focus,
    button.basic-button-outline:focus,
    button.basic-button-outline.basic-button-focus,
    [type="button"].basic-button-outline:focus,
    [type="button"].basic-button-outline.basic-button-focus,
    [type="submit"].basic-button-outline:focus,
    [type="submit"].basic-button-outline.basic-button-focus,
    [type="reset"].basic-button-outline:focus,
    [type="reset"].basic-button-outline.basic-button-focus,
    [type="image"].basic-button-outline:focus,
    [type="image"].basic-button-outline.basic-button-focus {
      box-shadow: inset 0 0 0 2px #112e51, 0 0 3px #3e94cf, 0 0 7px #3e94cf; }
  .basic-button.basic-button-big,
  .basic-button-primary.basic-button-big,
  .basic-button:visited.basic-button-big,
  .basic-button-primary:visited.basic-button-big,
  button.basic-button-big,
  [type="button"].basic-button-big,
  [type="submit"].basic-button-big,
  [type="reset"].basic-button-big,
  [type="image"].basic-button-big {
    font-size: 1.9rem;
    padding: 1.5rem 3rem; }
  .basic-button.basic-button-gray,
  .basic-button-primary.basic-button-gray,
  .basic-button:visited.basic-button-gray,
  .basic-button-primary:visited.basic-button-gray,
  button.basic-button-gray,
  [type="button"].basic-button-gray,
  [type="submit"].basic-button-gray,
  [type="reset"].basic-button-gray,
  [type="image"].basic-button-gray {
    background-color: #EFEFEF;
    color: #477dca; }
    .basic-button.basic-button-gray:hover,
    .basic-button-primary.basic-button-gray:hover,
    .basic-button:visited.basic-button-gray:hover,
    .basic-button-primary:visited.basic-button-gray:hover,
    button.basic-button-gray:hover,
    [type="button"].basic-button-gray:hover,
    [type="submit"].basic-button-gray:hover,
    [type="reset"].basic-button-gray:hover,
    [type="image"].basic-button-gray:hover {
      background-color: #d6d6d6;
      border-bottom: 0;
      text-decoration: none; }

.button-group {
  width: 156px;
  margin: 2em auto 0;
  text-align: center; }
  .button-group input {
    display: none; }
  .button-group label {
    float: left; }
    .button-group label .button-group-item {
      background: #fff;
      border: 2px solid #477dca;
      border-radius: 0;
      color: #4d4d4d;
      cursor: pointer;
      font-size: 1em;
      font-weight: normal;
      line-height: 1;
      padding: .75em 1em;
      width: auto; }
      .button-group label .button-group-item:focus, .button-group label .button-group-item:hover {
        background-color: #f7f7f7; }
    .button-group label:first-child .button-group-item {
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
      border-top-right-radius: 0;
      border-right: 0; }
    .button-group label:last-child .button-group-item {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px; }
    .button-group label input:checked + .button-group-item {
      background: #477dca;
      border: 2px solid #2c5999;
      box-shadow: inset 0 1px 2px #3264ac;
      color: #fff; }

.clearfix {
  overflow: auto;
  zoom: 1;
  clear: both; }

body {
  font-family: "Nunito", sans-serif;
  text-align: left;
  margin: 0;
  padding: 0; }
  body::after {
    clear: both;
    content: "";
    display: table; }

h1,
h2,
h3,
p {
  margin: 0; }

h1 {
  font-family: "Varela Round", sans-serif;
  font-size: 1.8em;
  margin-bottom: .5em;
  text-align: center; }
  @media screen and (min-width: 62em) {
    h1 {
      font-size: 2.4em;
      text-align: left; } }

h2 {
  font-family: "Varela Round", sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.4em;
  margin-bottom: .9em;
  text-align: center; }
  @media screen and (min-width: 62em) {
    h2 {
      font-size: 1.4em;
      text-align: left; } }

h3 {
  font-family: "Varela Round", sans-serif;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.3em;
  margin: .6em 0; }
  @media screen and (min-width: 62em) {
    h3 {
      font-size: 1.2em;
      text-align: left; } }

p,
li {
  color: #333;
  line-height: 1.4em;
  font-family: "Nunito", sans-serif;
  font-size: 1em;
  font-weight: 300; }

p {
  margin-bottom: 1.5em;
  padding-left: 1em; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }

a:link, a:visited, a:active {
  color: #477dca;
  text-decoration: none; }
  a:link.basic-button, a:visited.basic-button, a:active.basic-button {
    color: #fff; }

a:hover {
  border-bottom: 1px solid #477dca; }

img {
  width: 100%; }

hr {
  border-bottom: 1px solid #EFEFEF;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

.centered {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2em 1em; }

#global-alert {
  text-align: center;
  padding: 4px 0; }
  #global-alert span {
    width: 10px;
    height: 5px;
    color: #fff;
    padding: 0 3px 0 7px;
    background-color: #477dca;
    border-radius: 50%; }
  #global-alert a:hover {
    border-bottom: 0; }

#heading {
  width: 100%;
  padding: 2em 0 0 0;
  text-align: center;
  background: #333 url("new-orleans.jpg") no-repeat right center;
  background-size: cover; }
  #heading h1 {
    font-size: 2.5em;
    color: #fff;
    margin: 0 0 0.5em 0;
    padding-bottom: 0.5em; }
    @media screen and (min-width: 48em) {
      #heading h1 {
        font-size: 3em; } }
    @media screen and (min-width: 62em) {
      #heading h1 {
        font-size: 3.5em; } }
  #heading h2 {
    color: #fff;
    margin-bottom: 1.5em; }

#successStory .centered {
  min-height: 23em; }
  @media screen and (min-width: 48em) {
    #successStory .centered {
      background-position: left;
      background-size: cover;
      justify-content: flex-end; } }
  #successStory .centered .container {
    max-width: 345px;
    margin: 0 auto; }
    #successStory .centered .container img {
      width: 75px;
      border-radius: 50%;
      float: left; }
      @media screen and (min-width: 62em) {
        #successStory .centered .container img {
          width: 150px; } }
    #successStory .centered .container ul {
      float: left;
      margin: .5em 0 1em 1em; }
      @media screen and (min-width: 62em) {
        #successStory .centered .container ul {
          margin: 2.5em 0 4em 1em; } }
    #successStory .centered .container li {
      color: #333;
      display: block; }
    @media screen and (min-width: 62em) {
      #successStory .centered .container {
        max-width: 600px;
        margin: 0; } }
  #successStory .centered .ss-content {
    max-width: 35em;
    text-align: center;
    margin: 0 auto; }
    @media screen and (min-width: 62em) {
      #successStory .centered .ss-content {
        text-align: left;
        margin: 0;
        max-width: 1000px; } }
    #successStory .centered .ss-content h1 {
      font-weight: 2em; }

#firstSteps {
  background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/textures/diagonal-noise.png"), linear-gradient(180deg, #f2f2f2, #e2e2e2), center no-repeat #f2f2f2 scroll; }
  #firstSteps ul {
    counter-reset: section;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (min-width: 62em) {
      #firstSteps ul {
        width: 100%;
        margin-left: 15px;
        margin-right: 15px; } }
  #firstSteps li {
    padding: 12px 0 0 16px;
    position: relative; }
    #firstSteps li:before {
      counter-increment: section;
      content: counter(section);
      text-align: center;
      font-weight: 500;
      display: inline-block;
      width: 25px;
      height: 25px;
      margin: 0 5px 0 0;
      border-radius: 50%;
      background-color: #fff;
      position: absolute;
      left: -16px; }

#job1Info p {
  font-weight: bold;
  text-align: center; }
#job1Info #map_canvas {
  height: 400px;
  width: 100%; }
#job1Info #map_canvas img {
  max-width: none; }
#job1Info #map_canvas .content {
  padding: 0 .5em 1em .5em;
  display: block; }
#job1Info #map_canvas h1 {
  font-size: 2em; }
#job1Info #map_canvas #bodyContent p {
  text-align: left;
  font-weight: normal;
  font-size: 1.1em;
  margin: 2px 0; }

.assessment .centered, .woofound-image {
  max-width: 500px;
  margin: 0 auto 1em;
  display: block; }

.woofound-image-title {
  text-align: center;
  font-weight: bold;
  margin-bottom: .5em; }

.salary-table {
  background-color: #fff;
  border-collapse: separate;
  border-radius: 10px;
  border-spacing: 0;
  text-align: center;
  font-size: 1em;
  font-weight: 300;
  width: 100%; }
  .salary-table thead th {
    padding: 0.75em 1em; }
  .salary-table tbody td {
    border-bottom: 1px solid #477dca;
    border-left: 1px solid #477dca;
    border-top: 1px solid #477dca;
    padding: 0.75em 1em;
    width: 33.33%; }
    .salary-table tbody td:first-child {
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px; }
    .salary-table tbody td:last-child {
      border-bottom-right-radius: 10px;
      border-right: 1px solid #477dca;
      border-top-right-radius: 10px; }

.checkmark {
  background-image: url("checkmark.svg");
  background-position: .5rem .5rem;
  background-repeat: no-repeat;
  background-size: 2.5rem;
  margin-top: 1em;
  padding: 1em; }

.checkmark-body {
  display: table-cell;
  padding-left: 1.5rem;
  vertical-align: top; }
  .checkmark-body p {
    margin-top: -.3em; }

.career-matches p {
  font-style: italic; }

footer {
  border-top: 3px solid #EFEFEF; }
  footer p {
    margin-bottom: .5em; }

/*# sourceMappingURL=main.css.map */
