html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.clearfix {
  overflow: auto;
  zoom: 1;
  clear: both; }

body {
  font-family: "Nunito", sans-serif;
  text-align: left;
  margin: 0;
  padding: 0; }
  body::after {
    clear: both;
    content: "";
    display: table; }

h1, h2, h3, p {
  margin: 0; }

h1 {
  font-family: "Varela Round", sans-serif;
  font-size: 1.8em;
  margin-bottom: 0.5em;
  text-align: center; }
  @media screen and (min-width: 62em) {
    h1 {
      font-size: 2.4em;
      text-align: left; } }

h2 {
  font-family: "Varela Round", sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.4em;
  margin-bottom: 0.9em;
  text-align: center; }
  @media screen and (min-width: 62em) {
    h2 {
      font-size: 1.4em;
      text-align: left; } }

h3 {
  font-family: "Varela Round", sans-serif;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.3em;
  margin: 0.6em 0; }
  @media screen and (min-width: 62em) {
    h3 {
      font-size: 1.2em;
      text-align: left; } }

p, li {
  color: #333;
  line-height: 1.5em;
  font-family: "Nunito", sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.4em; }

p {
  margin-bottom: 1.5em; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }

a:link, a:visited, a:active {
  color: #477dca;
  text-decoration: none; }

a:hover {
  border-bottom: 1px solid #477dca; }

hr {
  border-bottom: 1px solid #EFEFEF;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

.centered {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2em; }

#heading {
  width: 100%;
  padding: 2em 0 0 0;
  text-align: center;
  background: #333 url("../../images/new-orleans.jpg") no-repeat right center;
  background-size: cover; }
  #heading h1 {
    font-size: 2.5em;
    color: white;
    margin: 0 0 0.5em 0;
    padding-bottom: 0.5em; }
    @media screen and (min-width: 48em) {
      #heading h1 {
        font-size: 3em; } }
    @media screen and (min-width: 62em) {
      #heading h1 {
        font-size: 3.5em; } }
  #heading h2 {
    color: white;
    margin-bottom: 1.5em; }

#successStory .centered {
  min-height: 23em;
  padding: 2em; }
  @media screen and (min-width: 48em) {
    #successStory .centered {
      background-position: left;
      background-size: cover;
      justify-content: flex-end; } }
  #successStory .centered img {
    min-width: 255px;
    border-radius: 50%;
    margin: 0 auto 1.5em;
    display: block; }
    @media screen and (min-width: 62em) {
      #successStory .centered img {
        float: left;
        margin: 1em 0 0 3em; } }
  #successStory .centered .ss-content {
    max-width: 35em;
    text-align: center;
    margin: 0 auto; }
    @media screen and (min-width: 62em) {
      #successStory .centered .ss-content {
        text-align: left;
        float: right; } }
    #successStory .centered .ss-content h1 {
      font-weight: 2em; }
  #successStory .centered ul {
    max-width: 300px;
    text-align: center;
    padding: .3em 0;
    margin: 0 auto;
    background-color: #c7d8ef;
    border-radius: 10px; }
    @media screen and (min-width: 62em) {
      #successStory .centered ul {
        width: 100%;
        max-width: 100%;
        margin: 0; } }
  #successStory .centered li {
    color: #333;
    display: block;
    padding: .3em 0;
    border-bottom: 1px solid rgba(51, 51, 51, 0.2); }
    #successStory .centered li:first-child {
      padding-top: 0; }
    #successStory .centered li:last-child {
      padding-bottom: 0;
      border-bottom: 0; }
    @media screen and (min-width: 62em) {
      #successStory .centered li {
        display: inline-block;
        padding: .5em 1em;
        border-bottom: 0;
        border-right: 1px solid rgba(51, 51, 51, 0.2); }
        #successStory .centered li:first-child {
          padding-top: .5em;
          padding-left: 0; }
        #successStory .centered li:last-child {
          padding-right: 0;
          border-right: 0; } }

#firstSteps {
  background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/textures/diagonal-noise.png"), linear-gradient(180deg, #f2f2f2, #e2e2e2), center no-repeat #f2f2f2 scroll; }
  #firstSteps ul {
    counter-reset: section;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (min-width: 62em) {
      #firstSteps ul {
        width: 100%;
        margin-left: 15px;
        margin-right: 15px; } }
  #firstSteps li {
    padding: 12px 0 0 16px;
    position: relative; }
    #firstSteps li:before {
      counter-increment: section;
      content: counter(section);
      text-align: center;
      font-weight: 500;
      display: inline-block;
      width: 25px;
      height: 25px;
      margin: 0 5px 0 0;
      border-radius: 50%;
      background-color: #fff;
      position: absolute;
      left: -16px; }

#job1Info #map_canvas {
  height: 400px;
  width: 100%; }
#job1Info #map_canvas img {
  max-width: none; }
#job1Info #map_canvas .content {
  padding: 0 0.5em 1em 0.5em;
  display: block; }
#job1Info #map_canvas h1 {
  font-size: 2em; }
#job1Info #map_canvas #bodyContent p {
  font-size: 1.1em;
  margin: 2px 0; }

/*# sourceMappingURL=main.css.map */
