// Assessment //
#assessment {
  .container { margin: 4rem 0; }

  .assessment-image-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }

  .assessment-image {
    max-width: 400px;
    margin: 0 auto 1.5rem;
    display: block;
  }
}

// Careers that match your interests //
#career-match {
  h1, h2 {
    @media print { color: black; }
  }
  .jobCardContainer { height: auto; }
  .jobCard {
    max-width: 300px;
    height: 100%;
    position: relative;
    margin: 4rem auto 2rem;
    padding: 0 0 1rem 0;
    border: 2px solid $action-color;
    text-align: center;

    @media print {
       max-width:800px;
       background-color: $white;
       text-align: left;
       margin: 1rem 0;
       padding: 1rem .2rem;
       border-top: 1px solid $light-gray;
       border-bottom: 1px solid $light-gray;
    }

    @media (min-width: 955px) {
      float: left;
      margin: 0px 0px 2rem 1rem;
      &:first-of-type { margin-left: 0px; }
    }

    p {
      padding: 0.5rem 1rem 1rem;
      margin: 1rem 0;
    }

    h2 {
      background-color: $action-color;
      color: $white;
      font-weight: bold;
      margin: 0;
      padding: 1.5rem;
    }

    h3 {
      margin: 2rem 0 0;

      .wage {
        font-weight: bold;
        font-style: normal;
        @media print {
          font-size: inherit;
          display: inline-block;
        }
      }
    }
  }

  .button-wrapper {
    @media print { display: none; }
  }

  .career-nav {
    margin: 0 auto 7rem;
    width: 243px;

    > * { float: left; }

    &:first-child button { margin-bottom: 1rem; }
    button {
      margin: 0 15px;
      min-width: 44px;

      .fa {
        display: block;
        margin: 0 auto;
        text-align: center;
      }
    }
    p { line-height: .5rem; }
  }

  .invisible {
    box-shadow: inset 0 0 0 2px $white;
    color: $white;
    cursor: auto;
  }
}
