// Assessment //
#assessment {
  .container { margin: 8rem 0; }

  .assessment-image-title {
    max-width: 400px;
    color: $white;
    text-align: center;
    font-size: 2rem;
    margin: 0 auto;
    padding: 1.5rem 0;
    background-color: $heading-color-light;
  }

  .assessment-image {
    max-width: 400px;
    margin: 0 auto 1.5rem;
    display: block;
  }
  .error {
    font-weight: bold;
    max-width: 400px;
    margin: 1rem auto;
  }
}

// Careers that match your interests //
#career-match {
  @media print {
    h1 { color: black; font-size:4rem; }
  }
  .jobCardContainer { height: auto; }
  .jobCard {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 4rem auto 2rem;
    padding: 0 0 1rem 0;
    border: 2px solid $heading-color-light;

    @media print {
       max-width:800px;
       background-color: $white;
       margin: 2rem 0;
       border: 1px solid $light-gray;
    }

    @media (min-width: 955px) {
      width: 296px;
      float: left;
      margin: 0px .5rem 2rem;
    }

    p {
      padding: 0.5rem 1rem 1rem;
      margin: 1rem 0;
      span { font-size: 90%; }
    }

    h2 {
      background-color: $heading-color-light;
      color: $white;
      font-weight: bold;
      margin: 0;
      padding: 1.5rem;
      @media print {
        background-color: $white;
        color: black;
        padding: 1rem 1rem 0;
      }
    }

    h3 {
      margin: 2rem 0 0;
      padding: 0 1rem;
      font-weight: normal;

      .wage {
        font-weight: bold;
        font-style: normal;
      }
      @media print {
        color: black;
        font-size: inherit;
        padding: 1rem;
      }
    }
    .traits {
      span { font-size: 90%; }
      span:after { content: ", "; }
      span:last-of-type:after { content: ""; }
    }
  }

  .button-wrapper {
    span { padding: 0; }
    @media print { display: none; }
  }

  .career-nav {
    margin: 0 auto 16rem;
    width: 229px;

    > * { float: left; }

    button {
      min-width: 44px;
      margin: 0;

      &:first-of-type { margin-bottom: 1rem; }
      .fa {
        display: block;
        font-size: 1.8rem;
        font-weight: bold;
        text-align: center;
        color: $action-color;
      }
    }
    .center {
      margin: 0 auto 1rem;
      display: block;
      float: none;
    }
    p {
      line-height: 5.5rem;
      margin: 0 1em;
      font-weight: bold;
    }
  }

  .invisible {
    box-shadow: inset 0 0 0 2px $white;
    color: $white;
    cursor: auto;
    .fa { color: $white !important; }
  }
  .save-results { margin: 6rem 0; }
  @media print {
    .save-results, .get-started { display: none; }
  }
}
.career {
  .wage {
    font-weight: bold;
    font-style: normal;
    @media print { font-size: inherit; }
  }
  .foundational-skills { margin-bottom: 3rem; }
  li { margin: 0 0 2rem 0; }
  li:last-child { margin: 0; }
  @media print {
    h1, h2, h3, p, a { color: black !important; }
    a { border-bottom: 0; text-decoration: none;}
  }

}
