// Assessment //
#assessment {
  .container { margin: 4rem 0; }

  .assessment-image-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }

  .assessment-image {
    max-width: 400px;
    margin: 0 auto 1.5rem;
    display: block;
  }
}

// Careers that match your interests //
#career-match {
  #career-list {
    .jobCard {
      background-color: $action-color;
      max-width: 290px;
      margin: 4rem auto 2rem;
      padding: 9rem .2rem .2rem;
      position: relative;

      @media (min-width: $medium-screen) {
        float: left;
        margin: 0 0 2rem 2rem;
        &:first-of-type { margin-left: 0; }
      }

      p:first-child {
        width: 150px;
        height: 150px;
        color: $action-color;
        text-align: center;
        font-style: italic;
        font-size: 1.5rem;
        line-height: 2rem;
        border: 5px solid $action-color;
        background-color: $white;
        position: absolute;
        top: 0;
        left: 50%;
        border-radius: 50%;
        margin-left: -75px;
      }
      .wage {
        font-size: 4rem;
        font-weight: bold;
        font-style: normal;
        padding: 50px 0 10px;
        display: block;
      }
      h2, p:last-child {
        background-color: $white;
        margin: 0;
        text-align: center;
      }
      h2 { padding: 9rem 1rem 0; }
      p { padding: .5rem 1rem 1rem; }
    }
  }
}
