$sans-serif: "museo-sans", sans-serif;

$base-line-height: 1.4em !default;
$base-spacing: 1.5em !default;

$action-color: #356F96 !default;
$action-color-darker: #285371;
$action-color-darkest: #133349;
$action-color-light: #86A9C0;
$white: #fff;
$dark-gray: #333 !default;
$gray: #808080;
$light-gray: #dedfe1 !default;
$base-font-color: $dark-gray !default;

$small-screen: 481px;
$medium-screen: 48em !default;
$large-screen: 62em !default;

$round-radius: 50%;

$button-stroke: inset 0 0 0 2px;
