$sans-serif: 'Nunito', sans-serif;
$sans-serif-2: 'Varela Round', sans-serif;

$base-line-height: 1.4em !default;
$base-spacing: 1.5em !default;

$action-color: #477dca !default;
$action-color-darker: #205493;
$action-color-darkest: #112e51;
$action-color-light: #c7d8ef;
$white: #fff;
$dark-gray: #333 !default;
$gray: #808080;
$light-gray: #EFEFEF !default;
$base-font-color: $dark-gray !default;
$heading-text-color: $white;
$heading-background-top: #162C4C;
$heading-background-bottom: #0A120D;
$gradient-angle: 10deg;
$heading-image: 'new-orleans.jpg';
$textureFS-top-background: lighten($light-gray, 1%);
$textureFS-bottom-background: darken($light-gray, 5%);

$small-screen: 481px;
$medium-screen: 48em !default;
$large-screen: 62em !default;

$centered-background: darken($gray, 40%);
$centered-backside-background: darken($centered-background, 10%);

$round-radius: 50%;

$color-focus: #3e94cf;
$focus-shadow: 0 0 3px $color-focus, 0 0 7px $color-focus;
$border-radius: rem(3px);
