@import "bourbon/bourbon";
@import "neat/neat";


// Variables //
$sans-serif: "Nunito", sans-serif;
$sans-serif-2: "Varela Round", sans-serif;

$base-line-height: 1.5em !default;
$base-spacing: 1.5em !default;

$action-color: #477dca !default;
$dark-gray: #333 !default;
$light-gray: #ddd !default;
$base-font-color: $dark-gray !default;
$heading-text-color: white;
$heading-background-top: #162C4C;
$heading-background-bottom: #0A120D;
$gradient-angle: 10deg;
$heading-image: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png";

$medium-screen: 40em !default;
$large-screen: 53.75em !default;

$centered-background: darken(gray, 40%);
$centered-backside-background: darken($centered-background, 10%);


// Main //
body{
  @include clearfix;
  font-family: $sans-serif;
  text-align: left;
  margin: 0;
  padding: 0;
}


// Typography //
h1, h2, h3, p { margin: 0; }
h1 {
  font-family: $sans-serif-2;
  font-size: 1.8em;
  margin-bottom: 0.5em;

  @include media($medium-screen) {
    font-size: 2.4em;
  }
}
h2 {
  font-family: $sans-serif-2;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.4em;
  margin-bottom: 0.9em;

  @include media($medium-screen) {
    font-size: 1.4em;
  }
}
h3 {
  font-family: $sans-serif-2;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.3em;
  margin-bottom: 0.4em;
}
p {
  color: $base-font-color;
  line-height: $base-line-height;
  font-family: $sans-serif;
  font-size: 1.05em;
  font-weight: 300;
  line-height: 1.4em;
  margin-bottom: 1.5em;

  span {
    font-family: $sans-serif-2;
    font-size: 0.8em;
    text-transform: uppercase;
  }
}
a {
  color: $action-color;
  text-decoration: none;
}


// Design Elements //
hr {
  width: 3em;
  border-bottom: 1px solid $light-gray;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}


// Structure //
.centered{
  max-width: 1000px;
  margin: 0 auto;
  padding: 2em;
}
#heading {
  background: url($heading-image),
              linear-gradient($gradient-angle, $heading-background-bottom, $heading-background-top),
              no-repeat $heading-background-top scroll;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 20em;

  h1 {
    border-bottom: 1px solid transparentize($heading-text-color, 0.7);
    color: $heading-text-color;
    margin: 0 0 0.5em 0;
    padding-bottom: 0.5em;
  }

  h2 {
    color: $heading-text-color;
    margin-bottom: 1.5em;
  }
}

#successStory .centered {
  $large-screen: 50em !default;
  align-items: center;
  background: image-url("background-image.png");
  background-position: right;
  background-size: none;
  display: flex;
  justify-content: center;
  min-height: 25em;
  padding: 2em;

  @include media($large-screen) {
    background-position: left;
    background-size: cover;
    justify-content: flex-end;
  }

  .ss-content {
    max-width: 20em;
    text-align: center;

    @include media($large-screen) {
      text-align: left;
    }
  }

  .ss-image {
    margin: auto;
  }
}
