@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'variables';
@import 'buttons';
@import 'texture';

.clearfix {
  overflow: auto;
  zoom: 1;
  clear: both;
}


// Main //
html {  font-size: 62.5%; }
body {
  @include clearfix;
  font-family: $sans-serif;
  font-size: 1.6rem;
  text-align: left;
  margin: 0;
  padding: 0;
}


// Typography //
h1, h2, h3, h4{
  font-family: $sans-serif;
  color: $action-color;
}
h1 {
  font-weight: 700;
  font-size: 4.6rem;
  line-height: 4.8rem;
}
h2 {
  font-weight: 300;
  font-size: 3rem;
  margin: .7rem 0;
}
h3 {
  font-weight: 300;
  font-size: 2.5rem;
  margin: .7rem 0;
}
h4 {
  font-weight: 700;
  font-size: 2rem;
}
p, li {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.2rem;
  color: $base-font-color;
}
ul {
  margin: 0;
  padding: 0;
}
li { list-style-type: none; }
a:link, a:visited, a:active {
  color: $action-color;
  text-decoration: none;
  border-bottom: 1px solid $action-color;

  &.basic-button {
    color: $white;
  }
}
a:hover { border-bottom: 1px solid $action-color; }


// Design Elements //
img {
  width: 100%;
}
hr {
  border-bottom: 1px solid $light-gray;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}


// Structure //
.centered {
  max-width: 850px;
  margin: 0 auto;
  padding: 2rem 1.5rem;
}


// Feedback //
#global-alert {
  padding: .5em 0;
  background-color: $light-gray;

  .centered { padding: .2rem 1.5rem; }
  .fa-comments {
    color: $white;
    padding: 4px;
    margin: 0 5px 0 0;
    background-color: $action-color;
    border-radius: $round-radius;
  }
}


// Heading //
#heading{
  .centered{ padding: 0 1.5rem; }
}


// Prepare //
#prepare {
  background-color: $action-color;

  .centered{ padding: .5rem 1.5rem; }
  h2, p { color: $white; }
  h2 { font-weight: 400; }
}


// Make the most of your time //
#time {
  li {
    padding: 10px 0 0 16px;
    position: relative;

    &:before {
       content: "\f046";
       font-family: FontAwesome;
       position: absolute;
       top: 12px;
       left: -3px;
    }
  }
}


// What to expect //
#expect {
  #map_canvas {
    height: 400px;
    width: 100%;
  }

  #map_canvas img { max-width: none; } // to prevent UI control bug

  #map_canvas .content { padding: 0 .5em 1em .5em; display: block; }

  #map_canvas h1 { font-size: 2em; }

  #map_canvas #bodyContent p {
    text-align: left;
    font-weight: normal;
    font-size: 1.1em;
    margin: 2px 0;
  }
}

// Success Story //
#successStory {

  .centered {
    $large-screen: 50em !default;
    min-height: 23em;

    @include media($medium-screen) {
      background-position: left;
      background-size: cover;
      justify-content: flex-end;
    }
    .container{
      max-width:345px;
      margin: 0 auto;

      img {
        width: 75px;
        border-radius: $round-radius;
        float: left;
        @include media($large-screen) {
          width: 150px;
        }
      }
      ul{
        float: left;
        margin: .5em 0 1em 1em;
        @include media($large-screen) {
          margin: 2.5em 0 4em 1em;
        }
      }
      li {
         color: $base-font-color;
         display: block;
       }
       @include media($large-screen) {
         max-width:600px;
         margin: 0;
       }
    }

    .ss-content {
      max-width: 35em;
      text-align: center;
      margin: 0 auto;

      @include media($large-screen) {
        text-align: left;
        margin: 0;
        max-width:1000px;
      }
      h1 { font-weight: 2em; }
    }
  }
}


.assessment .centered, .woofound-image {
    max-width:500px;
    margin: 0 auto 1em;
    display: block;
}

.woofound-image-title {
  text-align: center;
  font-weight: bold;
  margin-bottom: .5em;
}

.salary-table {
  $base-border-radius: 10px !default;
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;
  $table-border: 1px solid $action-color;
  $table-padding: .75em 1em;

  background-color: $white;
  border-collapse: separate;
  border-radius: $base-border-radius;
  border-spacing: 0;
  text-align: center;
  font-size: 1em;
  font-weight: 300;
  width: 100%;

  thead {
    th {
      padding: $table-padding;
    }
  }

  tbody {
    td {
      border-bottom: $table-border;
      border-left: $table-border;
      border-top: $table-border;
      padding: $table-padding;
      width: 33.33%;

      &:first-child {
        border-bottom-left-radius: $base-border-radius;
        border-top-left-radius: $base-border-radius;
      }

      &:last-child {
        border-bottom-right-radius: $base-border-radius;
        border-right: $table-border;
        border-top-right-radius: $base-border-radius;
      }
    }
  }
}

.checkmark {
  background-image: url('checkmark.svg');
  background-position: .5rem .5rem;
  background-repeat: no-repeat;
  background-size: 2.5rem;
  margin-top: 1em;
  padding: 1em;
}

.checkmark-body {
  display: table-cell;
  padding-left: 1.5rem;
  vertical-align: top;
  p { margin-top: -.3em; }
}

.career-matches {
  p {
    font-style: italic;
  }
}

footer {
  margin: 6rem 0 0;

  .nolaLogo {
    width:150px;
    margin: .5rem auto;
    display: block;
  }
  .centered {
    border-top: 1px solid $light-gray;
    padding: .5rem 1.5rem;
  }
  p { margin-bottom: .5em; }
}
