@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'variables';
@import 'buttons';
@import 'texture';

.clearfix {
  overflow: auto;
  zoom: 1;
  clear: both;
}


// Main //
body {
  @include clearfix;
  font-family: $sans-serif;
  text-align: left;
  margin: 0;
  padding: 0;
}


// Typography //
h1,
h2,
h3,
p { margin: 0; }

h1 {
  font-family: $sans-serif-2;
  font-size: 1.8em;
  margin-bottom: .5em;
  text-align: center;

  @include media($large-screen) {
    font-size: 2.4em;
    text-align: left;
  }
}

h2 {
  font-family: $sans-serif-2;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.4em;
  margin-bottom: .9em;
  text-align: center;

  @include media($large-screen) {
    font-size: 1.4em;
    text-align: left;
  }
}

h3 {
  font-family: $sans-serif-2;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.3em;
  margin: .6em 0;

  @include media($large-screen) {
    font-size: 1.2em;
    text-align: left;
  }
}

p,
li {
  color: $base-font-color;
  line-height: $base-line-height;
  font-family: $sans-serif;
  font-size: 1em;
  font-weight: 300;
}

p {
  margin-bottom: 1.5em;
  padding-left: 1em;
}

ul {
  margin: 0;
  padding: 0;
}
li { list-style-type: none; }

a:link, a:visited, a:active {
  color: $action-color;
  text-decoration: none;

  &.basic-button {
    color: $white;
  }
}
a:hover { border-bottom: 1px solid $action-color; }

img {
  width: 100%;
}

// Design Elements //
hr {
  border-bottom: 1px solid $light-gray;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}


// Structure //
.centered {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2em;
}

#global-alert {
  text-align: center;
  padding: 4px 0;

  span {
    width: 10px;
    height: 5px;
    color: $white;
    padding: 0 3px 0 7px;
    background-color: $action-color;
    border-radius: $round-radius;
  }
  a:hover { border-bottom: 0; }
}

#heading {
  width: 100%;
  padding: 2em 0 0 0;
  text-align: center;
  background: $dark-gray url($heading-image) no-repeat right center;
  background-size: cover;

  h1 {
    font-size: 2.5em;
    color: $heading-text-color;
    margin: 0 0 0.5em 0;
    padding-bottom: 0.5em;

    @include media($medium-screen) { font-size: 3em; }
    @include media($large-screen) { font-size: 3.5em; }
  }

  h2 {
    color: $heading-text-color;
    margin-bottom: 1.5em;
  }
}

#successStory {

  .centered {
    $large-screen: 50em !default;
    min-height: 23em;
    padding: 2em;

    @include media($medium-screen) {
      background-position: left;
      background-size: cover;
      justify-content: flex-end;
    }

    img {
      min-width: 255px;
      border-radius: $round-radius;
      margin: 0 auto 1.5em;
      display: block;
      width: auto;

      @include media($large-screen) {
        float: left;
        margin: 1em 0 0 3em;
      }
    }

    .ss-content {
      max-width: 35em;
      text-align: center;
      margin: 0 auto;

      @include media($large-screen) {
        text-align: left;
        float: right;
      }
      h1 { font-weight: 2em; }
    }

    ul{
      max-width: 300px;
      text-align: center;
      padding: .3em 0;
      margin: 0 auto;
      background-color:$action-color-light;
      border-radius: 10px;

      @include media($large-screen) {
        width: 100%;
        max-width:100%;
        margin: 0;
      }
    }

    li {
       color: $base-font-color;
       display: block;
       padding: .3em 0;
       border-bottom: 1px solid transparentize($base-font-color, 0.8);
       &:first-child { padding-top: 0; }
       &:last-child { padding-bottom: 0; border-bottom: 0; }

       @include media($large-screen) {
          display: inline-block;
          padding: .5em 1em;
          border-bottom: 0;
          border-right: 1px solid transparentize($base-font-color, 0.8);
          &:first-child { padding-top: .5em; padding-left: 0; }
          &:last-child { padding-right: 0; border-right: 0; }
       }
     }
  }
}

#firstSteps {
  @include texture(180deg, $textureFS-top-background, $textureFS-bottom-background, 67, 1);

  ul {
    counter-reset: section;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    @include media($large-screen) {
      width: 100%;
      margin-left:15px;
      margin-right:15px;
    }
  }

  li {
    padding: 12px 0 0 16px;
    position: relative;

    &:before {
       counter-increment: section;
       content: counter(section);
       text-align: center;
       font-weight: 500;
       display: inline-block;
       width: 25px;
       height: 25px;
       margin: 0 5px 0 0;
       border-radius: $round-radius;
       background-color: #fff;
       position: absolute;
       left: -16px;
    }
  }
}

#job1Info {
  p {
    font-weight: bold;
    text-align: center;
  }
  #map_canvas {
    height: 400px;
    width: 100%;
  }

  #map_canvas img { max-width: none; } // to prevent UI control bug

  #map_canvas .content { padding: 0 .5em 1em .5em; display: block; }

  #map_canvas h1 { font-size: 2em; }

  #map_canvas #bodyContent p {
    text-align: left;
    font-weight: normal;
    font-size: 1.1em;
    margin: 2px 0;
  }
}
.assessment .centered, .wooFoundImage{
    max-width:500px;
    margin: 0 auto 1em;
    display: block;
}
.salary-table {
  $base-border-radius: 10px !default;
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;
  $table-border: 1px solid $action-color;
  $table-padding: .75em 1em;

  background-color: $white;
  border-collapse: separate;
  border-radius: $base-border-radius;
  border-spacing: 0;
  text-align: center;
  width: 100%;

  thead {
    th {
      padding: $table-padding;
    }
  }

  tbody {
    td {
      border-bottom: $table-border;
      border-left: $table-border;
      border-top: $table-border;
      padding: $table-padding;
      width: 33.33%;

      &:first-child {
        border-bottom-left-radius: $base-border-radius;
        border-top-left-radius: $base-border-radius;
      }

      &:last-child {
        border-bottom-right-radius: $base-border-radius;
        border-right: $table-border;
        border-top-right-radius: $base-border-radius;
      }
    }
  }
}

.checkmark {
  background-image: url('../../images/checkmark.svg');
  background-position: .5rem .5rem;
  background-repeat: no-repeat;
  background-size: 2.5rem;
  margin-top: 1em;
  padding: 1em;
}

.checkmark-body {
  display: table-cell;
  padding-left: 1.5rem;
  vertical-align: top;
  p{margin-top: -.3em;}
}

.career-matches {
  p {
    font-style: italic;
  }
}

footer {
  border-top: 3px solid $light-gray;

  p { margin-bottom: .5em; }
}
