@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'variables';
@import 'buttons';
@import 'assessment';
@import 'manage';

.clearfix {
  overflow: auto;
  zoom: 1;
  clear: both;
}


// Main //
html { font-size: 62.5%; }

body {
  @include clearfix;
  font-family: $sans-serif;
  font-size: 1.6rem;
  text-align: left;
  margin: 0;
  padding: 0;
}

#bodyContainer {
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
}


// Typography //
h1, h2, h3 { color: $heading-color; }
h1 {
  font-weight: 300;
  font-size: 4rem;
  @media (min-width: $medium-screen) { font-size: 6rem; }
}
h2 {
  font-weight: 700;
  font-size: 3rem;
  margin: .7rem 0;
}
h3 {
  font-weight: 600;
  font-size: 2rem;
  margin: .5rem 0 2rem;
}
h4 {
  font-weight: 600;
  font-size: 1.8rem;
  margin: 2rem 0 0 0;
}
p, li {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: $base-font-color;

  @media (min-width: $medium-screen) {
    font-size: 1.8rem;
    line-height: 2.3rem;
  }
}
p {
  margin: 1rem 0;

  @media (min-width: $medium-screen) {
    margin: 2rem 0;
  }
}
ul {
  margin: 0;
  padding: 0;
}
li { list-style-type: none; }
a:link, a:visited, a:active {
  color: $heading-color-light;
  text-decoration: none;
  border-bottom: 1px solid $heading-color-light;

  &.basic-button {
    color: $white;
  }
  &.fa { color: $heading-color-light; }
}
a:hover {
  color: $action-color;
  border-bottom: 1px solid $action-color;
  &.fa { color: $heading-color; }
}
.quote{
  font-style: italic;
  font-size: 1.4rem;
  padding: 0 0 0 2rem;
  position: relative;

  &:before {
     content: "\f10d" ;
     font-family: FontAwesome;
     font-size: 1.5rem;
     position: absolute;
     top: 0;
     left: 0;
  }
}
.error {
  color: red;
  text-align: center;
}


// Design Elements //
img {
  width: 100%;
}
hr {
  border-bottom: 1px solid $light-gray;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}


// Structure //
.centered {
  margin: 0 auto;
  padding: 2rem 1.5rem;
}


// Feedback //
#global-alert {
  padding: .5em 0;
  background-color: $light-gray;

  .centered { padding: .2rem 1.5rem; }
  .fa-comments {
    color: $white;
    padding: 4px;
    margin: 0 5px 0 0;
    background-color: $heading-color;
    border-radius: $round-radius;
  }
  @media print { display: none; }
}


// Heading //
#heading {
  .centered { padding: 0 1.5rem; }
}


// Prepare //
#prepare {
  background-color: $heading-color-light;

  .centered {
    padding: .5rem 1.5rem;

    @media (min-width: $medium-screen) {
      padding: 3rem 1.5rem;
    }
  }
  h2, p { color: $white; }
  h2 {
    @media (min-width: $medium-screen) {
      font-size: 4rem;
      line-height: 6.5rem;
    }
  }
}


// Explore your career options ahead of time //
#explore {
  @media (min-width: $medium-screen) {
    width: 48%;
    float: left;
  }
}


// Make the most of your time //
#time {
  ul {
    @media (min-width: $medium-screen) {
      li:not(:first-child) { padding: 20px 0 0 16px; }
    }
  }
  li {
    padding: 10px 0 0 16px;
    position: relative;

    &:before {
       content: "\f046";
       font-family: FontAwesome;
       position: absolute;
       left: -3px;
       padding: 2px 0 0 0;

       @media (min-width: $medium-screen) {
         left: - 6px;
       }
    }
  }
  @media (min-width: $medium-screen) {
    width: 48%;
    float: right;
  }
}


// Opportunity Center Information //
#oppCenterInfo {
  #map_canvas {
    height: 250px;
    width: 90%;
    margin: 2rem auto 0;

    @media (min-width: $medium-screen) {
      height: 400px;
      width: 100%;
    }

    img { max-width: none; }
    #content {
      padding: 0 .5em 1em .5em;
      display: block;

      h2 {
        font-size: 1.6rem;
        font-weight: 400;
        @media (min-width: $medium-screen) {
        font-size: 2rem;
        }
      }
      p {
        text-align: left;
        font-weight: normal;
        font-size: 1.1em;
        margin: 2px 0;
      }
    }
  }
}


// Footer //
footer {
  margin: 6rem 0 0;

  .logos {
    background-color: $heading-color-light;
    padding: 1rem;
    a, img { border: 0; }
    img { width: auto; }
    .network-logo img{
      height: 40px;
      margin: 2rem 0 0 0;
    }
    .nola-logo {
      float: right;
      img { height: 70px; }
    }
  }
  .centered { padding: .5rem 1.5rem; }
  p { margin-bottom: .5em; }
  @media print { display: none; }
}
