<div class="assessment">
  <div class="centered">
  <h1>Making a decision about a career?</h1>
  <p>Take a quick visual assessment to match careers to your personality, so you can make a decision about where to start!</p>
  <p>Choose "Me" or "Not Me" for each image presented.</p>
  <p><em>(Estimated time: 8 minutes)</em></p>
  </div>
  <div class="centered button-wrapper">
    <a class="basic-button" href="/woofound">Start Now</a>
  </div>
</div>
