<div class="jobCardContainer" id="career-list">
  <h1>Your career assessment results</h1>
  {{#career_descriptions}}
    <div class="jobCard">
      <h2>{{job_title}}</h2>
      <h3><span class="wage">Salary range: {{experienced_range}}</span></h3>
      <h3><span class="wage">Entry wage: {{entry_wage}}</span></h3>
      <p>{{job_description}}</p>

      {{#general_duties}}
      <h3>General Duties</h3>
      <div class="general-duties">
        {{& general_duties }}
      </div>
      {{/general_duties}}

      {{#training}}
      <h3>Training</h3>
      <div class="training">
        {{& training }}
      </div>
      {{/training}}
    </div>
  {{/career_descriptions}}
  <div class="clearfix"></div>
</div>
