<section id="career-match">
  <div class="centered">
    <h1>Careers that match your interests</h1>
    {{#career_descriptions}}
      {{> partials/career}}
    {{/career_descriptions}}
  </div>
</section>
