    <section id="global-alert">
      <div class="centered">
        <i class="fa fa-comments" aria-hidden="true"></i> <a class="alert-link" href="mailto:nola+workforwardnola@codeforamerica.org" target="_blank">We're testing a new website focused on you. Please give us your feedback here.</a>
      </div>
    </section>

    <section id="heading">
      <div class="centered">
        <h1>Need a job now?</h1>
      </div>
    </section>

    <!--<section id="successStory">
      <div class="centered">
        <div class="container">
          <img src="assets/rhonda.jpg" alt="Profile Picture for Rhonda" title="Profile Picture for Rhonda" />
          <ul>
            <li><b>Title:</b> Office Assistant</li>
            <li><b>Salary:</b> $10.14/Hour &amp; Benefits</li>
            <li><b>Training &amp; Job Search:</b> 3 Months</li>
          </ul>
        </div>
        <div class="ss-content clearfix">
          <h3>"I know I had to get there and show people what I'm capable of and show them that my incarceration doesn't lessen my abilities and diminish what I'm capable of."</h3>
          <hr>
          <p>Rhonda was raised in New Orleans and graduated from Booker T. Washington High School. After serving 20 years in prison, she had a tough time getting a job until a friend told her about STRIVE. Despite the 4 week time commitment she decided to enroll and complete the program. This transformational experience helped her land a job with the City of New Orleans. She recently aced a Microsoft Excel class and is on her way to a promotion and a stable career.</p>
        </div>
      </div>
    </section>-->

    <section id="prepare">
      <div class="centered">
        <h2>Prepare for a visit to an Opportunity Center</h2>
        <p>You will be connected to a career coach for free, no matter your barriers. They will help you find the right job, connect to trainings, or locate financial resources.</p>
      </div>
    </section>

    <section id="explore">
      <div class="centered">
        <h2>Explore your career options ahead of time</h2>
        <p>Take a quick assessment and see a list of careers that match your interests. <br> <i>(Estimated time: 2 min.)</i><p>
        <div class="button_wrapper">
          <a href="/woofound" title="Take career assessment"><button class="basic-button-outline" type="button">Take career assessment >></button></a>
        </div>
      </div>
    </section>

    <section id="time">
      <div class="centered">
        <h2>Make the most of your time</h2>
        <ul>
          <li><strong>Bring a driver's license or State ID</strong> <br>
              You might need this to sign up for a program at the Opportunity Center.
          </li>
            <li><strong>Bring your career assessment results</strong> <br>
                Take the career assessment above so you have a better idea of what you want to get out of the visit.
            </li>
          <li><strong>Sign up for a job seeker profile on the <a href="https://www.louisianaworks.net/hire/loginintro.asp?blnStartHere=True" target="_blank" title="Registration page for Louisiana Workforce Commission">Louisiana HiRE website</strong></a> <br>
              You can start looking for work immediately.
          </li>
        </ul>
      </div>
    </section>

    <section id="expect">
      <div class="centered">
        <h2>What to expect during your visit</h2>
        <p><strong>Plan to spend 2-3 hours of your time at the center.</strong> <br>
          You don’t have to make an appointment to visit. Click on a pin on the map below to see the open hours for each center so that you can plan around your busy schedule.</p>
        <div id="map_canvas"></div>
      </div>
    </section>

    <footer role="contentinfo">
      <img class="nolaLogo" alt="City of New Orleans Logo" src="assets/nolaLogo.png"/>
      <div class="centered">
        <p>The source code for this site is <a href="https://github.com/codeforamerica/workforwardnola" target="_blank">available on GitHub</a>. <br> This project is in Beta and continuously evolving.</p>
        <p>
          <small>
              <br>Copyright &copy; 2016, <a href="http://codeforamerica.org/">Code for America</a>
          </small>
        </p>
      </div>
    </footer>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKNLU54D_sMOyuyzqGxS2dYUU00GoF1fA"></script>
    <script>
    var bittersMap = (function() {
      var locations = [
        ['Goodwill and Job1', 29.94711, -90.09446,
        '<div id="content">' +
        '<div id="siteNotice">' +
        '</div>' +
        '<h1>Goodwill</h1>' +
        '<div id="bodyContent">' +
        '<p>Mon-Fri, 8AM - 5PM</p>' +
        '<p>3400 Tulane Ave, 1st Floor, New Orleans, LA 70119</p>' +
        '<p><a href="tel:+5044563933">(504) 456-3933</a></p>' +
        '<p><a href="http://goodwillno.org/" target="_blank" title="Goodwill Website">Visit the website</a></p>' +
        '</div>' +
        '<br />' +
        '<h1>Job1</h1>' +
        '<div id="bodyContent">' +
        '<p>Mon-Fri, 8AM - 5PM</p>' +
        '<p>3400 Tulane Ave, 2nd Floor, New Orleans, LA 70119</p>' +
        '<p><a href="tel:+5046584500">(504) 658-4500</a></p>' +
        '<p><a href="http://www.nola.gov/economic-development/workforce-development/job1/" target="_blank" title="Job1 Website">Visit the website</a></p>' +
        '</div>' +
        '</div>'],
        ['STRIVE', 29.95091, -90.07738,
        '<div id="content">' +
        '<div id="siteNotice">' +
        '</div>' +
        '<h1>STRIVE</h1>' +
        '<div id="bodyContent">' +
        '<p>Mon-Fri, 8AM - 5PM</p>' +
        '<p>1340 Poydras St. Suite 100, New Orleans, LA 70112</p>' +
        '<p><a href="tel:+5046584201">(504) 658-4201</a></p>' +
        '<p><a href="http://striveinternational.org/" target="_blank" title="STRIVE International Website">Visit the website</a></p>' +
        '</div>' +
        '</div>'],
        ['TCA', 29.95602, -90.10512,
        '<div id="content">' +
        '<div id="siteNotice">' +
        '</div>' +
        '<h1>Total Community Action</h1>' +
        '<div id="bodyContent">' +
        '<p>Mon-Fri, 8AM - 5PM</p>' +
        '<p>1424 S. Jefferson Davis Parkway, New Orleans, LA 70125</p>' +
        '<p><a href="tel:+5048720334">(504) 872-0334</a></p>' +
        '<p><a href="http://www.tca-nola.org/" target="_blank" title="TCA Website">Visit the website</a></p>' +
        '</div>' +
        '</div>'],
        ['Urban League', 29.97723, -90.03875,
        '<div id="content">' +
        '<div id="siteNotice">' +
        '</div>' +
        '<h1>Urban League</h1>' +
        '<div id="bodyContent">' +
        '<p>Mon-Fri, 8AM - 5PM</p>' +
        '<p>3232 North Galvez Street, New Orleans, LA 70117</p>' +
        '<p><a href="tel:+5043244444">(504) 324-4444</a></p>' +
        '<p><a href="http://www.urbanleagueneworleans.org/ul/" target="_blank" title="Urban League Website">Visit the website</a></p>' +
        '</div>' +
        '</div>']
      ],
      mapCenter = new google.maps.LatLng(29.97036, -90.07493),
      mapCanvas = document.getElementById('map_canvas'),
      mapOptions = {
        center: mapCenter,
        zoom: 13,
        scrollwheel: false,
        draggable: true,
        disableDefaultUI: true,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      },
      map = new google.maps.Map(mapCanvas, mapOptions),
      infowindow = new google.maps.InfoWindow(),
      marker, i;
      for (i = 0; i < locations.length; i++) {
        marker = new google.maps.Marker({
          position: new google.maps.LatLng(locations[i][1], locations[i][2]),
          map: map
        });
        google.maps.event.addListener(marker, 'click', (function(marker, i) {
          return function() {
            infowindow.setContent(locations[i][3]);
            infowindow.open(map, marker);
          }
        })(marker, i));
      };
      return {
        init: function() {
          map.set('styles', [{
            featureType: 'landscape',
            elementType: 'geometry',
            stylers: [{
              hue: '#ffff00'
            }, {
              saturation: 30
            }, {
              lightness: 10
            }]
          }]);

        }
      };
    }());

    bittersMap.init();
    </script>
    <script>
    window.intercomSettings = {
      app_id: "keo75jgl"
    }
    </script>
    <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/keo75jgl';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
