    <section id="heading">
      <div class="centered">
        <h1>Looking for work?</h1>
      </div>
    </section>

    <section id="prepare">
      <div class="centered">
        <h2>Prepare for a visit to an Opportunity Center</h2>
        <p>You will be connected to a career coach for free, no matter your barriers. They will help you find the right job, connect to trainings, or locate financial resources.</p>
      </div>
    </section>

    <section id="explore">
      <div class="centered">
        <h2>Explore your career options ahead of time</h2>
        <p>Take a quick assessment and see a list of careers that match your interests. <br> <i>(Estimated time: 2 min.)</i><p>
        <div class="button_wrapper">
          <a href="/assessment" title="Take a career assessment so that you can be better prepared for a visit to an Opportunity Center" data-event-category="Homepage" data-event-action="Take assessment" class="basic-button">Take career assessment</a>
        </div>
      </div>
    </section>

    <section id="time">
      <div class="centered">
        <h2>Make the most of your visit</h2>
        <p>You don't have to make an appointment to visit, come in today! Plan to spend 2-3 hours and follow the steps below to get the most of your time.</p>
        <ul>
          <li><strong>Bring your career assessment results</strong> <br>
              Take the career assessment above so you have a better idea of what you want to do for work.
          </li>
          <li><strong>Sign up for a job seeker profile on the <a href="https://www.louisianaworks.net/hire/loginintro.asp?blnStartHere=True" target="_blank" title="Registration page for Louisiana Workforce Commission">Louisiana HiRE website</strong></a> <br>
              You can start looking for work immediately.
          </li>
          <li><strong>Bring a driver's license or State ID</strong> <br>
              If you sign up for a program at an Opportunity Center, you might need a driver's license or State ID.
              <br><br><span>Don't have an ID? Apply for one now at the <a href="http://www.dmv.org/la-louisiana/id-cards.php" title="Visit the DMV Website to get a new ID" target"_blank">DMV Website</a>.</span>
          </li>
        </ul>
      </div>
    </section>

    <div class="clearfix"></div>

    <section id="oppCenterInfo">
      <div class="centered">
        <h2>Visit the location that's right for you</h2>
        <p>Click on a pin below to see the open hours, address, phone number and website for each Opportunity Center.</p>
        <p><strong><a href="/opportunity-center-info" title="Text-only Opportunity Center information">You can also click here to see a text-only version of this information.</a></strong></p>
        <p>Sign up for the Opportunity Center job system and receive a personalized recommendation for next steps and a follow-up from a career advisor.</p>
        <div class="button_wrapper">
          <a href="/jobsystem" class="basic-button">Job system</a>
        </div>
        <div id="map_canvas"></div>
      </div>
    </section>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKNLU54D_sMOyuyzqGxS2dYUU00GoF1fA"></script>
    <script>
    var bittersMap = (function() {
      var locations = [
        ['Goodwill and Job1', 29.94711, -90.09446,
        '<div id="content">' +
        '<div id="siteNotice">' +
        '</div>' +
        '<h2>Goodwill</h2>' +
        '<div id="bodyContent">' +
        '<p>Mon-Fri, 8AM - 5PM</p>' +
        '<p>3400 Tulane Ave, 1st Floor, New Orleans, LA 70119</p>' +
        '<p><a href="https://goo.gl/maps/U52rdrdnvaE2" target="_blank" title="Goodwill address in Google Maps">Open in Google Maps</a></p>' +
        '<p><a href="tel:+5044563933">(504) 456-3933</a></p>' +
        '<p><a href="http://goodwillno.org/" target="_blank" title="Goodwill Website">Visit the website</a></p>' +
        '</div>' +
        '<br />' +
        '<h2>Job1</h2>' +
        '<div id="bodyContent">' +
        '<p>Mon-Fri, 8AM - 5PM</p>' +
        '<p>3400 Tulane Ave, 2nd Floor, New Orleans, LA 70119</p>' +
        '<p><a href="https://goo.gl/maps/U52rdrdnvaE2" target="_blank" title="Job1 address in Google Maps">Open in Google Maps</a></p>' +
        '<p><a href="tel:+5046584500">(504) 658-4500</a></p>' +
        '<p><a href="http://www.nola.gov/economic-development/workforce-development/job1/" target="_blank" title="Job1 Website">Visit the website</a></p>' +
        '</div>' +
        '</div>'],
        ['STRIVE', 29.95091, -90.07738,
        '<div id="content">' +
        '<div id="siteNotice">' +
        '</div>' +
        '<h2>STRIVE</h2>' +
        '<div id="bodyContent">' +
        '<p>Mon-Fri, 8AM - 5PM</p>' +
        '<p>1340 Poydras St. Suite 100, New Orleans, LA 70112</p>' +
        '<p><a href="https://goo.gl/maps/9mFVJg823aG2" target="_blank" title="STRIVE address in Google Maps">Open in Google Maps</a></p>' +
        '<p><a href="tel:+5046584201">(504) 658-4201</a></p>' +
        '<p><a href="http://striveinternational.org/" target="_blank" title="STRIVE International Website">Visit the website</a></p>' +
        '</div>' +
        '</div>'],
        ['TCA', 29.95602, -90.10512,
        '<div id="content">' +
        '<div id="siteNotice">' +
        '</div>' +
        '<h2>Total Community Action</h2>' +
        '<div id="bodyContent">' +
        '<p>Mon-Fri, 8AM - 5PM</p>' +
        '<p>1424 S. Jefferson Davis Parkway, New Orleans, LA 70125</p>' +
        '<p><a href="https://goo.gl/maps/eq5h2oCM2f12" target="_blank" title="TCA address in Google Maps">Open in Google Maps</a></p>' +
        '<p><a href="tel:+5048720334">(504) 872-0334</a></p>' +
        '<p><a href="http://www.tca-nola.org/" target="_blank" title="TCA Website">Visit the website</a></p>' +
        '</div>' +
        '</div>'],
        ['Urban League', 29.97723, -90.03875,
        '<div id="content">' +
        '<div id="siteNotice">' +
        '</div>' +
        '<h2>Urban League</h2>' +
        '<div id="bodyContent">' +
        '<p>Mon-Fri, 8AM - 5PM</p>' +
        '<p>3232 North Galvez Street, New Orleans, LA 70117</p>' +
        '<p><a href="https://goo.gl/maps/aWS8QZrKGYn" target="_blank" title="Urban League address in Google Maps">Open in Google Maps</a></p>' +
        '<p><a href="tel:+5043244444">(504) 324-4444</a></p>' +
        '<p><a href="http://www.urbanleagueneworleans.org/ul/" target="_blank" title="Urban League Website">Visit the website</a></p>' +
        '</div>' +
        '</div>']
      ],
      mapCenter = new google.maps.LatLng(29.97036, -90.07493),
      mapCanvas = document.getElementById('map_canvas'),
      mapOptions = {
        zoom: 13,
        center: new google.maps.LatLng(0, 0),
        mapTypeId: google.maps.MapTypeId.ROADMAP
      },
      map = new google.maps.Map(mapCanvas, mapOptions),
      infowindow = new google.maps.InfoWindow(),
      bounds = new google.maps.LatLngBounds(),
      marker, i;
      for (i = 0; i < locations.length; i++) {
        var myLatLng = new google.maps.LatLng(locations[i][1], locations[i][2]);
        marker = new google.maps.Marker({
          position: new google.maps.LatLng(locations[i][1], locations[i][2]),
          map: map
        });
        google.maps.event.addListener(marker, 'click', (function(marker, i) {
          return function() {
            infowindow.setContent(locations[i][3]);
            infowindow.open(map, marker);
          }
        })(marker, i));
        bounds.extend(myLatLng);
      };
      map.fitBounds(bounds);
      return {
        init: function() {
          map.set('styles', [{
            featureType: 'landscape',
            elementType: 'geometry',
            stylers: [{
              hue: '#ffff00'
            }, {
              saturation: 30
            }, {
              lightness: 10
            }]
          }]);

        }
      };
    }());

    bittersMap.init();
    </script>
