<section id="oc-form">
  <footer role="contentinfo">
    <div class="logos clearfix">
      <a href="http://www.thenetworkneworleans.org/" title="The Network for Economic Opportunity Website" target="_blank" class="network-logo"><img alt="The Network for Economic Opportunity Logo" src="assets/network-logo.png"/></a>
      <a href="http://www.nola.gov/" title="New Orleans City Government Website" target="_blank" class="nola-logo"><img alt="City of New Orleans Logo" src="assets/nola-logo.png"/></a>
    </div>
  </footer>

  <section id="opp-form">
    <section class="no-print">
    <h1>Job System Sign-up Form</h1>
   <form method="post" action="/contact" onsubmit="alert('Thank you for submitting!')">
     <strong>Whats your name? *</strong>
     <div style="float: right">
      <strong> How did you learn about us? * </strong>
      </div> </br>
      <input type="text" name="first_name" required>
     <input type="text" name="last_name" required>

    <div style="float: right; padding-right:1cm">
       <select name="referral" required>
       <option hidden dissabled> </option>
       <option value ="Through an online search">Through an online search</option>
       <option value="Midnight Basketball Website">Midnight Basketball Website</option>
       <option value"Friend">Friend</option>
       <option value="Library">Library</option>
       <option value="Community Group">Community Group</option>
       <option value="other">Other</option>
     </select>
    </div> </br>
    <span>First Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
     <span>Last Name</span>


      <hr>
     <h2>We're going to ask a couple of questions to figure out which
     Opportunity Center is the best match for you</h2>
     <strong>Which of these apply to you? *</strong> </br> </br>
     <div id="attributes">
       <input type="checkbox" id="young" name="young_adult" value="true" onclick="opportunityCenter(young_adult)">I am between the ages of 18-24</br>
       <input type="checkbox" id="veteran" name="veteran" value="true" onclick="opportunityCenter(veteran)">I am a Veteran</br>
       <input type="checkbox" id="no_transportation" name="no_transportation" value="true" onclick="opportunityCenter(no_transportation);">I don't always have a way to get to and from work</br>
       <input type="checkbox" id="homeless" name="homeless" value="true" onclick="opportunityCenter(homeless)">I am homeless or staying with someone temporarily</br>
       <input type="checkbox" id="no_drivers_license" name="no_drivers_license" value="true" onclick="opportunityCenter(no_drivers_license)">I don't have a driver's license</br>
       <input type="checkbox" id="no_state_id" name="no_state_id" value="true" onclick="opportunityCenter(no_state_id)">I don't have a state-issued I.D.</br>
       <input type="checkbox" id="disabled" name="disabled" value="true" onclick="opportunityCenter(disabled)">I am disabled</br>
       <input type="checkbox" id="childcare" name="childcare" value="true" onclick="opportunityCenter(childcare)">I need childcare</br>
       <input type="checkbox" id ="criminal" name="criminal" value="true" onclick="opportunityCenter(criminal)">I have an open criminal charge</br>
       <input type="checkbox" id="previously_incarcerated" name="previously_incarcerated" value="true" onclick="opportunityCenter(previously_incarcerated)">I have been previously incarcerated</br>
       <input type="checkbox" id="using_drugs" name="using_drugs" value="true" onclick="opportunityCenter(using_drugs)">I am using drugs and want to get help</br> 
       <input type="checkbox" id="none" name="none" value="true" onclick="opportunityCenter(none)">None of these apply to me</br> </br>
     </div>
       <strong>Which neighborhood is closest to where you live? *</strong> </br> </br>
     <select name="neighborhood" required>
       <option hidden dissabled></option>
       <option value="upper_ninth_ward">Upper Ninth Ward</option>
       <option value="cbd">CBD-Downtown</option>
       <option value="mid-city">Mid-City</option>
       <option value="garden_district">Garden District</option>
       <option value="none">None of the above</option>
     </select>
     <hr>
   </section>
     <h2>Visit one of the the following Opportunity Center(s) to find out
     how they can help you work towards a career.</h2>
     <div id="opportunity_center">
         <!--Content added by the method opportunityCenter() -->
     </div>
     </section>
     <section class="no-print">
     <div id="print-oppurtunity-centers">
      <p><a href="javascript:window.print()" data-event-category="Jobsystem" data-event-action="Print"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Print or Save as PDF</a></p>
     </div>
     <hr>
     <h2>Now that you know where to go, add your contact information so that
     we can follow up and answer any questions you may have.</h2> </br>
     <strong>What's the best way to contact you? *</strong></br>
       <input id="email" type="radio" name="best_way" value="E-mail" onclick="addEmail()">E-mail</br>
       <input id="email_submission_spot" name="email_submission" type="email" style="display:none;"></br>
       <input type="radio" name="best_way" value="Phone call" onclick="addPhone()">Phone Call</br>
        <input id="phone_submission_spot" pattern="^(?:(?:\+?1\s*(?:[.-]\s*)?)?(?:\(\s*([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9])\s*\)|([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]))\s*(?:[.-]\s*)?)?([2-9]1[02-9]|[2-9][02-9]1|[2-9][02-9]{2})\s*(?:[.-]\s*)?([0-9]{4})(?:\s*(?:#|x\.?|ext\.?|extension)\s*(\d+))?$" name="phone_submission" type="tel" style="display:none;"></br>
       <input type="radio" name="best_way" value="Text Message" onclick="addText()">Text Message</br>
        <input id="text_submission_spot" pattern="^(?:(?:\+?1\s*(?:[.-]\s*)?)?(?:\(\s*([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9])\s*\)|([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]))\s*(?:[.-]\s*)?)?([2-9]1[02-9]|[2-9][02-9]1|[2-9][02-9]{2})\s*(?:[.-]\s*)?([0-9]{4})(?:\s*(?:#|x\.?|ext\.?|extension)\s*(\d+))?$" name="text_submission" type="tel" style="display:none;"></br>
   <strong>If you have a resume, upload it here. </strong> </br>
    <input type="file" name="resume" accept="file_extension|audio/*|video/*|image/*|media_type"> </br></br>
    <div class="button-wrapper center">
    <input type="submit" class="basic-button">
    </div>
       <hr>
   </form>
  </div>
</section>
</section>
<section class="no-print">
<section>
  <div class="centered">
    <h2>Take your next step</h2>
    <p>Now that you've signed up for the job system, you're already on your way to a career. Visit one of the Opportunity Centers listed above so that you can meet with your career advisor.</p>
    <h3>Rhonda's Story</h3>
    <p>Rhonda got a job after training at STRIVE as an Office Assistant with a salary and benefits.</p>
    <blockquote><i>“I know I had to get there and show people what I’m capable of and that my incarceration doesn’t lessen my abilities and diminish what I’m capable of.”</i></blockquote>
  </div>
</section>
  <section id="time">
      <div class="centered">
        <h2>Make the most of your visit</h2>
        <p>You don't have to make an appointment to visit, come in today! Plan to spend 2-3 hours and follow the steps below to get the most of your time.</p>
        <ul>
          <li><strong>Bring your career assessment results</strong> <br>
              Take the career assessment above so you have a better idea of what you want to do for work.
          </li>
          <li><strong>Sign up for a job seeker profile on the <a href="https://www.louisianaworks.net/hire/loginintro.asp?blnStartHere=True" target="_blank" title="Registration page for Louisiana Workforce Commission">Louisiana HiRE website</strong></a> <br>
              You can start looking for work immediately.
          </li>
          <li><strong>Bring a driver's license or State ID</strong> <br>
              If you sign up for a program at an Opportunity Center, you might need a driver's license or State ID.
              <br><br><span>Don't have an ID? Apply for one now at the <a href="http://www.dmv.org/la-louisiana/id-cards.php" title="Visit the DMV Website to get a new ID" target"_blank">DMV Website</a>.</span>
          </li>
        </ul>
      </div>
    </section>
  </section>
<section class="no-print">
  <div class="centered">
    <h2>Opportunity Center Map</h2>
    <p>Click on a pin below to see the open hours, address, phone number and website for each Opportunity Center.</p>
    <p><strong><span class="link"><a href="/opportunity-center-info" title="Text-only Opportunity Center information">You can also see a text-only version of this information.</a></span></strong></p>
    <div id="map_canvas"></div>


    <script>

    function addEmail() {
      document.getElementById("email_submission_spot").style = "display: inline;";
      document.getElementById("text_submission_spot").style = "display: none;";
      document.getElementById("phone_submission_spot").style = "display: none;";
      document.getElementById("email_submission_spot").required = true;

      if(document.getElementById("phone_submission_spot").hasAttribute("required")){
        document.getElementById("phone_submission_spot").removeAttribute("required");
    }

      if(document.getElementById("text_submission_spot").hasAttribute("required")){
        document.getElementById("text_submission_spot").removeAttribute("required");
    }


    }

    function addPhone() {
      document.getElementById("phone_submission_spot").style = "display: inline;";
      document.getElementById("email_submission_spot").style = "display: none;";
      document.getElementById("text_submission_spot").style = "display: none;";
      document.getElementById("phone_submission_spot").required = true;

        if(document.getElementById("email_submission_spot").hasAttribute("required")){
          document.getElementById("email_submission_spot").removeAttribute("required");
        }
        if(document.getElementById("text_submission_spot").hasAttribute("required")){
          document.getElementById("text_submission_spot").removeAttribute("required");
        }

    }

    function addText() {
      document.getElementById("email_submission_spot").style = "display: none;";
      document.getElementById("phone_submission_spot").style = "display: none;";
      document.getElementById("text_submission_spot").style = "display: inline;";
      document.getElementById("text_submission_spot").required = true;

      if(document.getElementById("email_submission_spot").hasAttribute("required")){
      document.getElementById("email_submission_spot").removeAttribute("required");
    }

    if(document.getElementById("phone_submission_spot").hasAttribute("required")){
    document.getElementById("phone_submission_spot").removeAttribute("required");
    }
  }
    
    function opportunityCenter(input) {
        if (input.id == "homeless" || input.id == "disabled") {
          if (document.getElementById("opportunity_center").innerHTML.indexOf('Carey') <= -1) {
              document.getElementById("opportunity_center").innerHTML +=
                  "<p>Total Community Action (TCA)</br>1420 South Jeff Davis Pkwy New Orleans, La 70125</br>(504) 872-0334</br>James Cary</br>Email: James.Carey@tca-NOLA.org</br>Sidney Monroe</br>Email: Sidney.Monroe@tca-nola.org</p>";
          }
        } else if (input.id == "criminal" || input.id == "previously_incarcerated") {
          if (document.getElementById("opportunity_center").innerHTML.indexOf('Boudoin') <= -1) {
              document.getElementById("opportunity_center").innerHTML +=
                  "<p>Goodwill Industries</br>3400 Tulane Avenue New Orleans</br>Jada Boudoin</br>Telephone: (504) 456-3933</br>Email: jboudoin@goodwillno.org</p>";      
          }
        } else {
          if (document.getElementById("opportunity_center").innerHTML.indexOf('Tucker') <= -1) {
              document.getElementById("opportunity_center").innerHTML +=
                  "<p>JOB1 Business and Career Solutions Center</br> Cassandra Tucker, Administrative Data Specialist </br>3400 Tulane Avenue, New Orleans</br>(504) 658-4500 – Main </br>(504) 658-4571 – Direct </br> crtucker@nola.gov</p>";
          }
        }
      }
      
    
    </script>
  </div>
</section>
