<section id="oc-form">
   <footer role="contentinfo">
       
        <div class="logos clearfix">
          <a href="http://www.thenetworkneworleans.org/" title="The Network for Economic Opportunity Website" target="_blank" class="network-logo"><img alt="The Network for Economic Opportunity Logo" src="assets/network-logo.png"/></a>
          <a href="http://www.nola.gov/" title="New Orleans City Government Website" target="_blank" class="nola-logo"><img alt="City of New Orleans Logo" src="assets/nola-logo.png"/></a>
        </div>
        </footer>
   
    <h1>Job System Sign-up Form</h1>
   <form method="post" action="/contact">
     <strong>Whats your name? *</strong>
     <div style="float: right">
      <strong> How did you learn about us? * </strong> 
      </div> </br>
      <input type="text" name="first_name" required> 
     <input type="text" name="last_name" required> 
     
    <div style="float: right; padding-right:1cm">
       <select name="referral" required>
       <option value =" "> </option>
       <option value ="Through an online search">Through an online search</option>
       <option value="Midnight Basketball Website">Midnight Basketball Website</option>
       <option value"Friend">Friend</option>
       <option value="Library">Library</option>
       <option value="Community Group">Community Group</option>
       <option value="other">Other</option>
     </select>
    </div> </br>
    <span>First Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> 
     <span>Last Name</span> 
    
     
      <hr>
     <h2>We're going to ask a couple of questions to figure out which 
     Opportunity Center is the best match for you</h2>
     <strong>Which of these apply to you? *</strong> </br> </br>
       <input type="checkbox" name="young_adult" value="true">I am between the ages of 18-24</br>
       <input type="checkbox" name="veteran" value="true">I am a Veteran</br>
       <input type="checkbox" name="no_transportation" value="true">I don't always have a way to get to and from work</br>
       <input type="checkbox" name="homeless" value="true">I am homeless or staying with someone temporarily</br>
       <input type="checkbox" name="no_drivers_license" value="true">I don't have a driver's license</br>
       <input type="checkbox" name="no_state_id" value="true">I don't have a state-issued I.D.</br>
       <input type="checkbox" name="disabled" value="true">I am disabled</br>
       <input type="checkbox" name="childcare" value="true">I need childcare</br>
       <input type="checkbox" name="criminal" value="true">I have an open criminal chargee</br>
       <input type="checkbox" name="previously_incarcerated" value="true"> I have been previously incarcerated</br>
       <input type="checkbox" name="using_drugs" value="true">I am using drugs and want to get help</br> 
       <input type="checkbox" name="none" value="true">None of these apply to me</br> </br>
       
       <strong>Which neighborhood is closest to where you live? *</strong> </br> </br>
     <select name="neighborhood" required>
       <option></option>
       <option value="upper_ninth_ward">Upper Ninth Ward</option>
       <option value="cbd">CBD-Downtown</option>
       <option value="mid-city">Mid-City</option>
       <option value="garden_district">Garden District</option>
       <option value="none">None of the above</option>
     </select>
     <hr>
     <h2>Visit one of the the following Opportunity Center(s) to find out 
     how they can help you work towards a career.</h2>
     <p>Please answer the questions above to be matched with an Opportunity Center.</p>
     <hr>
     <h2>Now that you know where to go, add your contact information so that 
     we can follow up and answer any questions you may have.</h2> </br>
     <strong>What's the best way to contact you? *</strong></br>
       <input id="email" type="radio" name="best_way" value="E-mail" onclick="add_email()">E-mail</br>
       <input id="email_submission_spot" name="email_submission" type="text" style="display:none;"></p>
       <input type="radio" name="best_way" value="Phone call" onclick="add_phone()">Phone Call</br>
        <input id="phone_submission_spot" name="phone_submission" type="email" style="display:none;"></p>
       <input type="radio" name="best_way" value="Text Message" onclick="add_text()">Text Message</br>
        <input id="text_submission_spot" name="phone_submission" type="text" style="display:none;"></p>
   <strong>If you have a resume, upload it here. </strong> </br>
    <input type="file" name="resume" accept="file_extension|audio/*|video/*|image/*|media_type"> </br></br>
    <div class="button-wrapper center">
    <input type="submit" class="basic-button">
    </div>   
       <hr>
   </form>
  </div>
</section>
<section>
  <div class="centered">
    <h2>Take your next step</h2>
    <p>Now that you've signed up for the job system, you're already on your way to a career. Visit one of the Opportunity Centers listed above so that you can meet with your career advisor.</p>
    <h3>Rhonda's Story</h3>
    <p>Rhonda got a job after training at STRIVE as an Office Assistant with a salary and benefits.</p>
    <blockquote><i>“I know I had to get there and show people what I’m capable of and that my incarceration doesn’t lessen my abilities and diminish what I’m capable of.”</i></blockquote>
  </div>
</section>
  <section id="time">
      <div class="centered">
        <h2>Make the most of your visit</h2>
        <p>You don't have to make an appointment to visit, come in today! Plan to spend 2-3 hours and follow the steps below to get the most of your time.</p>
        <ul>
          <li><strong>Bring your career assessment results</strong> <br>
              Take the career assessment above so you have a better idea of what you want to do for work.
          </li>
          <li><strong>Sign up for a job seeker profile on the <a href="https://www.louisianaworks.net/hire/loginintro.asp?blnStartHere=True" target="_blank" title="Registration page for Louisiana Workforce Commission">Louisiana HiRE website</strong></a> <br>
              You can start looking for work immediately.
          </li>
          <li><strong>Bring a driver's license or State ID</strong> <br>
              If you sign up for a program at an Opportunity Center, you might need a driver's license or State ID.
              <br><br><span>Don't have an ID? Apply for one now at the <a href="http://www.dmv.org/la-louisiana/id-cards.php" title="Visit the DMV Website to get a new ID" target"_blank">DMV Website</a>.</span>
          </li>
        </ul>
      </div>
    </section>
<section>
  <div class="centered">
    <h2>Opportunity Center Map</h2>
    <p>Click on a pin below to see the open hours, address, phone number and website for each Opportunity Center.</p>
    <p><strong><span class="link"><a href="/opportunity-center-info" title="Text-only Opportunity Center information">You can also see a text-only version of this information.</a></span></strong></p>
    <div id="map_canvas"></div>

   
    <script >
    function add_email() {
      document.getElementById("email_submission_spot").style = "display: inline;";
      document.getElementById("phone_submission_spot").style = "display: none;";
       document.getElementById("text_submission_spot").style = "display: none;";
    }
    
    function add_phone() {
       document.getElementById("email_submission_spot").style = "display: none;";
        document.getElementById("phone_submission_spot").style = "display: inline;";
        document.getElementById("text_submission_spot").style = "display: none;";
    }
    
    function add_text() {
       document.getElementById("email_submission_spot").style = "display: none;";
       document.getElementById("text_submission_spot").style = "display: inline;";
       document.getElementById("phone_submission_spot").style = "display: none;";
    }
    </script>
  </div>
</section>
