<section id="oc-form">
  <div class="centered">

    <h1>Opportunity Center Job System</h1>

    <iframe
      id="JotFormIFrame-61394527503153"
      onload="window.parent.scrollTo(0,0)"
      allowtransparency="true"
      src="https://form.jotform.com/61394527503153"
      frameborder="0"
      style="width:100%;
      height:2903px;
      border:none;"
      scrolling="no">
    </iframe>
    <script type="text/javascript">
      window.handleIFrameMessage = function(e) {
        var args = e.data.split(":");
        var iframe = false;
        if (args.length > 2) { iframe = document.getElementById("JotFormIFrame-" + args[2]); } else { iframe = document.getElementById("JotFormIFrame"); }
        if (!iframe)
          return;
        switch (args[0]) {
          case "scrollIntoView":
            iframe.scrollIntoView();
            break;
          case "setHeight":
            iframe.style.height = args[1] + "px";
            break;
          case "collapseErrorPage":
            if (iframe.clientHeight > window.innerHeight) {
              iframe.style.height = window.innerHeight + "px";
            }
            break;
          case "reloadPage":
            window.location.reload();
            break;
        }
        var isJotForm = (e.origin.indexOf("jotform") > -1) ? true : false;
        if(isJotForm && "contentWindow" in iframe && "postMessage" in iframe.contentWindow) {
          var urls = {"docurl":encodeURIComponent(document.URL),"referrer":encodeURIComponent(document.referrer)};
          iframe.contentWindow.postMessage(JSON.stringify({"type":"urls","value":urls}), "*");
        }
      };
      if (window.addEventListener) {
        window.addEventListener("message", handleIFrameMessage, false);
      } else if (window.attachEvent) {
        window.attachEvent("onmessage", handleIFrameMessage);
      }
      if(window.location.href && window.location.href.indexOf("?") > -1) {
        var ifr = false;
        if (args.length > 2) { ifr = document.getElementById("JotFormIFrame-" + args[2]); } else { ifr = document.getElementById("JotFormIFrame"); }
        var get = window.location.href.substr(window.location.href.indexOf("?") + 1);
        if(ifr && get.length > 0) {
          var src = ifr.src;
          src = src.indexOf("?") > -1 ? src + "&" + get : src  + "?" + get;
          ifr.src = src;
        }
      }
    </script>
  </div>
</section>
<section>
  <div class="centered">
    <h2>Take your next step</h2>
    <p>Now that you've signed up for the job system, you're already on your way to a career. Visit one of the Opportunity Centers listed above so that you can meet with your career advisor.</p>
    <h3>Rhonda's Story</h3>
    <p>Rhonda got a job after training at STRIVE as an Office Assistant with a salary and benefits.</p>
    <blockquote><i>“I know I had to get there and show people what I’m capable of and that my incarceration doesn’t lessen my abilities and diminish what I’m capable of.”</i></blockquote>
  </div>
</section>
<section>
  <div class="centered">
    <h2>Opportunity Center Map</h2>
    <p>Click on a pin below to see the open hours, address, phone number and website for each Opportunity Center.</p>
    <p>You can also <a href="opp-center-info" title="Text-only Opportunity Center information">click here</a> to see a text-only version of this information.</p>
    <div id="map_canvas"></div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKNLU54D_sMOyuyzqGxS2dYUU00GoF1fA"></script>
    <script>
    var bittersMap = (function() {
      var locations = [
        ['Goodwill and Job1', 29.94711, -90.09446,
        '<div id="content">' +
        '<div id="siteNotice">' +
        '</div>' +
        '<h2>Goodwill</h2>' +
        '<div id="bodyContent">' +
        '<p>Mon-Fri, 8AM - 5PM</p>' +
        '<p>3400 Tulane Ave, 1st Floor, New Orleans, LA 70119</p>' +
        '<p><a href="https://goo.gl/maps/U52rdrdnvaE2" target="_blank" title="Goodwill address in Google Maps">Open in Google Maps</a></p>' +
        '<p><a href="tel:+5044563933">(504) 456-3933</a></p>' +
        '<p><a href="http://goodwillno.org/" target="_blank" title="Goodwill Website">Visit the website</a></p>' +
        '</div>' +
        '<br />' +
        '<h2>Job1</h2>' +
        '<div id="bodyContent">' +
        '<p>Mon-Fri, 8AM - 5PM</p>' +
        '<p>3400 Tulane Ave, 2nd Floor, New Orleans, LA 70119</p>' +
        '<p><a href="https://goo.gl/maps/U52rdrdnvaE2" target="_blank" title="Job1 address in Google Maps">Open in Google Maps</a></p>' +
        '<p><a href="tel:+5046584500">(504) 658-4500</a></p>' +
        '<p><a href="http://www.nola.gov/economic-development/workforce-development/job1/" target="_blank" title="Job1 Website">Visit the website</a></p>' +
        '</div>' +
        '</div>'],
        ['STRIVE', 29.95091, -90.07738,
        '<div id="content">' +
        '<div id="siteNotice">' +
        '</div>' +
        '<h2>STRIVE</h2>' +
        '<div id="bodyContent">' +
        '<p>Mon-Fri, 8AM - 5PM</p>' +
        '<p>1340 Poydras St. Suite 100, New Orleans, LA 70112</p>' +
        '<p><a href="https://goo.gl/maps/9mFVJg823aG2" target="_blank" title="STRIVE address in Google Maps">Open in Google Maps</a></p>' +
        '<p><a href="tel:+5046584201">(504) 658-4201</a></p>' +
        '<p><a href="http://striveinternational.org/" target="_blank" title="STRIVE International Website">Visit the website</a></p>' +
        '</div>' +
        '</div>'],
        ['TCA', 29.95602, -90.10512,
        '<div id="content">' +
        '<div id="siteNotice">' +
        '</div>' +
        '<h2>Total Community Action</h2>' +
        '<div id="bodyContent">' +
        '<p>Mon-Fri, 8AM - 5PM</p>' +
        '<p>1424 S. Jefferson Davis Parkway, New Orleans, LA 70125</p>' +
        '<p><a href="https://goo.gl/maps/eq5h2oCM2f12" target="_blank" title="TCA address in Google Maps">Open in Google Maps</a></p>' +
        '<p><a href="tel:+5048720334">(504) 872-0334</a></p>' +
        '<p><a href="http://www.tca-nola.org/" target="_blank" title="TCA Website">Visit the website</a></p>' +
        '</div>' +
        '</div>'],
        ['Urban League', 29.97723, -90.03875,
        '<div id="content">' +
        '<div id="siteNotice">' +
        '</div>' +
        '<h2>Urban League</h2>' +
        '<div id="bodyContent">' +
        '<p>Mon-Fri, 8AM - 5PM</p>' +
        '<p>3232 North Galvez Street, New Orleans, LA 70117</p>' +
        '<p><a href="https://goo.gl/maps/aWS8QZrKGYn" target="_blank" title="Urban League address in Google Maps">Open in Google Maps</a></p>' +
        '<p><a href="tel:+5043244444">(504) 324-4444</a></p>' +
        '<p><a href="http://www.urbanleagueneworleans.org/ul/" target="_blank" title="Urban League Website">Visit the website</a></p>' +
        '</div>' +
        '</div>']
      ],
      mapCenter = new google.maps.LatLng(29.97036, -90.07493),
      mapCanvas = document.getElementById('map_canvas'),
      mapOptions = {
        zoom: 13,
        center: new google.maps.LatLng(0, 0),
        mapTypeId: google.maps.MapTypeId.ROADMAP
      },
      map = new google.maps.Map(mapCanvas, mapOptions),
      infowindow = new google.maps.InfoWindow(),
      bounds = new google.maps.LatLngBounds(),
      marker, i;
      for (i = 0; i < locations.length; i++) {
        var myLatLng = new google.maps.LatLng(locations[i][1], locations[i][2]);
        marker = new google.maps.Marker({
          position: new google.maps.LatLng(locations[i][1], locations[i][2]),
          map: map
        });
        google.maps.event.addListener(marker, 'click', (function(marker, i) {
          return function() {
            infowindow.setContent(locations[i][3]);
            infowindow.open(map, marker);
          }
        })(marker, i));
        bounds.extend(myLatLng);
      };
      map.fitBounds(bounds);
      return {
        init: function() {
          map.set('styles', [{
            featureType: 'landscape',
            elementType: 'geometry',
            stylers: [{
              hue: '#ffff00'
            }, {
              saturation: 30
            }, {
              lightness: 10
            }]
          }]);

        }
      };
    }());

    bittersMap.init();
    </script>
  </div>
</section>
