  <div class="centered spreadsheet">
    <h1>Management Page</h1>
    <h2>Manage careers content</h2>

    <label>Google Spreadsheet URL: </label>
    <input name="Spreadsheet URL" placeholder="Paste spreadsheet link here!" type="text" onkeyup="checkSpreadsheetUrl()" />
    <div class="flash" id="flash-spreadsheet-link" style="display:none;">
    </div>
    <div class="button-wrapper">
      <button class="basic-button" type="submit" onclick="updateFromSpreadsheet()" disabled>Update content</button>
    </div></br>
    
    <h2>Update Opportunity Center Information: </h2>
    <form method="post" action="/manage/update_opp_centers">
    {{#opportunity}}
    <p>{{> partials/opportunity_center_field }}</p>
    {{/opportunity}}
    
    {{^ forExample}}
      for example, on this page, the definition doesn't exist so this should display
    {{/ forExample}}
    
    {{# forExample}}
      this should not display
    {{/forExample}}
    <div class="button-wrapper">
      <button class="basic-button" value="Submit" name="submit" type="submit">Update Opportunity Center Emails</button>
    </div>
    </form>
    </br>
    </p>
    
    <div class="flash" id="flash-results" style="display:none;">
    </div>

    <p>If you're starting from scratch, <a href="https://drive.google.com/previewtemplate?id=1vgqsoXLJ9FSDZamGv-SzDX_xCV3wHY0Lh142nhuZDQI&mode=public" target="_blank">use this template</a>. After all your data is in, publish it to the web ("File" > "Publish to Web") and use that url above.</p>
    <p>If you're working with Code for America, use <a href="https://docs.google.com/spreadsheets/d/1p6P_MlWz1EuNlE195nqF5_8p9AEmfgif6g1kp2n7cpY/pubhtml" target="_blank">this url</a>.</p>
    <p>Trouble saving data? Make sure it adheres to the following:</p>
    <ul>
      <li>DO NOT modify any column names on the 'careers' or 'traits' tabs.</li>
      <li>DO fill out every column.</li>
      <li>Every trait number in the "trait" column should be an id in the "traits" TAB.</li>
    </ul>
    <p>For more info, see <a href="https://github.com/codeforamerica/workforwardnola/blob/master/docs/career_assessment_how_to.md#the-google-spreadsheet" target="_blank">documentation</a> about the spreadsheet.</p>
  </div>
  <script>
  </script>