  <div class="centered">
    <h1>Manage careers content</h1>
    <form action="/careers/update" method="POST">
      <label>Google Spreadsheet URL: </label>
      <input name="Spreadsheet URL" placeholder="Spreadsheet URL" type="text" onchange="checkSpreadsheetUrl()" />
      <div class="button-wrapper">
        <button class="basic-button" type="submit" disabled>Update content</button>
      </div>
    </form>

    <p>Coming soon: how to set up a spreadsheet for the content</p>
  </div>