<div class="assessment">
  <div class="centered button-wrapper">
    <a class="basic-button" href="/assessment">Back</a>
  </div>
  {{#images}}
    {{> partials/assessment_image }}
  {{/images}}
  <div class="centered button-wrapper">
    <a class="basic-button" href="/woofound2">Next</a>
  </div>
</div>