<div class="assessment">
  <div class="centered button-wrapper">
    <a class="basic-button" href="/woofound">Back</a>
  </div>
  <div class="centered">
    <img class="woofound-image" src="assets/assessment/teacher.jpg" />
    <p class="woofound-image-title">Teaching</p>
    <div class="button-group">
      <label>
        <input type="radio" name="button-group-1" value="me">
        <span class="button-group-item">Me</span>
      </label>
      <label>
        <input type="radio" name="button-group-1" value="not-me">
        <span class="button-group-item">Not Me</span>
      </label>
    </div>
  </div>
  <div class="centered">
    <img class="woofound-image" src="assets/assessment/people-in-meeting.jpg" />
    <p class="woofound-image-title">Working with others</p>
    <div class="button-group">
      <label>
        <input type="radio" name="button-group-2" value="me">
        <span class="button-group-item">Me</span>
      </label>
      <label>
        <input type="radio" name="button-group-2" value="not-me">
        <span class="button-group-item">Not Me</span>
      </label>
    </div>
  </div>
  <div class="centered button-wrapper">
    <a class="basic-button" href="/careers">Finish</a>
  </div>
</div>
