<div class="assessment">
  <div class="centered button-wrapper">
    <a class="basic-button" href="/woofound">Back</a>
  </div>
  {{#images}}
    {{< partials/assessment_image}}
  {{/images}}
  <div class="centered button-wrapper">
    <a class="basic-button" href="/careers">Finish</a>
  </div>
</div>
